{% extends 'semantic_base.html' %}
{#
    RevisionBank
    Copyright © 2018  Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
	<div class="ui fixed inverted menu">
		<div class="ui container">
			<a href="/" class="header item">
				RevisionBank
			</a>
			<a href="/" class="item">Home</a>
			{% if session.google_user %}
				<div class="ui simple dropdown item right">
					<i class="user circle icon"></i> {{ session.google_user.name }} <i class="dropdown icon"></i>
					<div class="menu">
						<a href="{{ url_for('logout') }}" class="item">Log out</a>
					</div>
				</div>
			{% else %}
				<a href="{{ url_for('login') }}" class="item right">Log in</a>
			{% endif %}
		</div>
	</div>
	
	<div class="ui main text container">
		{% block main %}
		{% endblock %}
	</div>
	
	<div class="ui inverted vertical footer segment">
		<div class="ui center aligned container">
			<div class="ui stackable inverted divided grid">
				<div class="three wide column">
					<h4 class="ui inverted header">Group 1</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Link One</a>
						<a href="#" class="item">Link Two</a>
						<a href="#" class="item">Link Three</a>
						<a href="#" class="item">Link Four</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">Group 2</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Link One</a>
						<a href="#" class="item">Link Two</a>
						<a href="#" class="item">Link Three</a>
						<a href="#" class="item">Link Four</a>
					</div>
				</div>
				<div class="three wide column">
					<h4 class="ui inverted header">Group 3</h4>
					<div class="ui inverted link list">
						<a href="#" class="item">Link One</a>
						<a href="#" class="item">Link Two</a>
						<a href="#" class="item">Link Three</a>
						<a href="#" class="item">Link Four</a>
					</div>
				</div>
				<div class="seven wide column">
					<h4 class="ui inverted header">Footer Header</h4>
					<p>Extra space for a call to action inside the footer that could help re-engage users.</p>
				</div>
			</div>
			<div class="ui inverted section divider"></div>
			<div class="ui horizontal inverted small divided link list">
				<a class="item" href="#">Site Map</a>
				<a class="item" href="#">Contact Us</a>
				<a class="item" href="#">Terms and Conditions</a>
				<a class="item" href="#">Privacy Policy</a>
			</div>
		</div>
	</div>
{% endblock %}
