{% extends 'page_base.html' %}
{#
    RevisionBank
    Copyright © 2018  Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% block content %}
	<table class="ui celled selectable table">
		<thead>
			<tr>
				<th>Revision</th>
				<th>Date</th>
				<th>Creator</th>
				<th>Reason</th>
			</tr>
		</thead>
		<tbody>
			{% for revision in page.revisions|reverse %}
				{% set index = page.revisions|length - loop.index0 %}
				<tr>
					<td class="selectable"><a href="{{ url_for('page_view', page_name=page.name, revision=index) }}">{{ index }}</a></td>
					<td class="selectable"><a href="{{ url_for('page_view', page_name=page.name, revision=index) }}">{{ revision.creation_date.strftime('%Y-%m-%d %H:%M UTC') }}</a></td>
					<td class="selectable"><a href="{{ url_for('page_view', page_name=page.name, revision=index) }}">{{ revision.creator.name }}</a></td>
					<td class="selectable"><a href="{{ url_for('page_view', page_name=page.name, revision=index) }}">{{ revision.reason }}</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
