{% extends 'page_base.html' %}
{#
    RevisionBank
    Copyright © 2018  Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% block content %}
	{% if not session.google_user %}
		<div class="ui error message">
			You do not have permission to edit this page. Please <a href="{{ url_for('login') }}">log in</a>.
		</div>
	{% endif %}
	
	<form class="ui form" method="post">
		<div class="field">
			<label>Page content</label>
			<textarea id="page-content" name="page-content" rows="10">{% if page.revisions %}{{ page.revisions[-1].content }}{% endif %}</textarea>
		</div>
		<div class="field">
			<label>Reason for edit</label>
            <input id="edit-reason" name="edit-reason" type="text">
		</div>
		<input class="ui {% if not session.google_user %}disabled {% endif %}primary button" type="submit" value="Edit">
	</form>
	
	<script>
		// Allow tabs
		document.getElementById('page-content').addEventListener('keydown', function(e) {
			if (e.keyCode === 9) {
				this.value = this.value.substring(0, this.selectionStart) + "\t" + this.value.substring(this.selectionEnd);
				this.selectionStart = this.selectionEnd = this.selectionStart + 1;
				e.preventDefault();
			}
		});
	</script>
{% endblock %}
