{#
    RevisionBank
    Copyright © 2018  Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="ui red segment">
	<p><b>There is no page with this exact name.</b></p>
	<ul class="ui list">
		<li><a href="{{ url_for('page_edit', page_name=page.name) }}"><b>Create the {{ page.pretty_name }} page.</b></a></li>
	</ul>
</div>
