{% extends 'base.html' %}
{#
    RevisionBank
    Copyright © 2018  Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

{% block title %}{{ page.name.split('/')[-1] }}{% endblock %}

{% block main %}
	{% if '/' in page.name %}
		<div class="ui breadcrumb">
			{% for parent in page.name.split('/')[:-1] %}
				<a class="section" href="{{ url_for('page_view', page_name='/'.join(page.name.split('/')[:loop.index0+1])) }}">{{ parent }}</a>
				<i class="right angle icon divider"></i>
			{% endfor %}
		</div>
	{% endif %}
	
	<h1 class="ui header">{{ page.pretty_name }}</h1>
	
	<div class="ui secondary pointing menu">
		<a class="item{% if request.endpoint == 'page_view' %} active{% endif %}" href="{{ url_for('page_view', page_name=page.name) }}">Article</a>
		<a class="item{% if request.endpoint == 'page_talk' %} active{% endif %}">Discussion</a>
		<a class="item{% if request.endpoint == 'page_history' %} active{% endif %}" href="{{ url_for('page_history', page_name=page.name) }}">History</a>
		<div class="right menu">
			<a class="item{% if request.endpoint == 'page_edit' %} active{% endif %}" href="{{ url_for('page_edit', page_name=page.name) }}"><i class="edit icon"></i>Edit</a>
		</div>
	</div>
	
	{% block content %}
	{% endblock %}
{% endblock %}
