{#
    RevisionBank
    Copyright © 2018  Yingtong Li (RunasSudo)

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
#}

<div class="ui segment">
	<p>{{ prompt }}</p>
	<ul class="ui list">
		{% for option in options %}
			{% if option.value >= 1 %}
				<li><b>{{ option.text }}</b></li>
			{% else %}
				<li>{{ option.text }}</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
